
supervisely[agent, model-benchmark] @ git+https://github.com/supervisely/supervisely.git@upgrade-protobuf
ffmpeg-python==0.2.0
pyyaml==6.0.3

torch==1.10.2
torchvision==0.11.3
 
openmim==0.3.9
mmcv-full==1.4.4
mmsegmentation==0.23.0
mmcls==0.21.0
imgaug==0.4.0
ftfy==6.3.1
regex==2025.9.18